{% extends 'base/base.html' %}


{% block content %}

<center>

<h1 style="color:rgb(201, 201, 221);"> Aujourd'hui nous sommes le :{{ day }} {{ month }} {{ year }} <br/><br/>
Bienvenue sur le site de<br/><br/>
déploiement d'une application machine learning<br/><br/>

Choisir votre model<br/><br/>


<a href="{% url 'salaire-index' %}" >
    <button type="button" class="btn btn-primary btn-lg">Salaire</button>
 </a>  

 <a href="{% url 'hepatite-index' %}" >
<button type="button" class="btn btn-success btn-lg">Hépatite</button>
</a>  
<br><br><br>

<h1></h1>
<div class="container">

{{ cal | safe }}

<br/>

{{ now }}
<br/>

{{ current_year }}
<br/>
{{ time }}
<br/>
</div>
</center>

{% endblock %}